.toggle__switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-left: auto;
}

.toggle__switch-box {
  opacity: 0;
}

.toggle__switch-slider {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 1s;
}

.toggle__switch-text_f {
  left: 9px;
}

.toggle__switch-text_c {
  right: 9px;
}

.toggle__switch-text {
  color: grey;
  position: absolute;
  top: 5px;
}

.toggle__switch-box:checked ~ .toggle__switch-slider {
  left: 28px;
}

.toggle__switch-box:not(:checked) ~ .toggle__switch-text_f {
  color: white;
}

.toggle__switch-box:checked ~ .toggle__switch-text_c {
  color: white;
}
