.card {
  width: 323px;
  height: 323ox;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: white;
  font-family: "Cabinet Grotesk", sans-serif;
  opacity: 0.6;
  padding: 2px 12px 2px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border: 1px;
  object-fit: cover;
  border-radius: 20px;
}

.card__content {
  position: absolute;
  top: 15px;
  display: flex;
  gap: 10px;
}

.card__like-button {
  width: 18px;
  height: 15px;
  background-image: url("../../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  opacity: 0.6;
}

.card__like-button_active {
  width: 18px;
  height: 15px;
  background-image: url("../../images/liked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
}
