.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: left auto;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__button-login {
  margin: 0 20px 0 auto;
  background-color: #f3f3f3;
  border-style: none;
  cursor: pointer;
}

.header__button-register {
  background-color: #f3f3f3;
  border-style: none;
  cursor: pointer;
}

.header__button-logout {
  background-color: #f3f3f3;
  border-style: none;
  cursor: pointer;
}

.header__mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
