div.modal__content_type_image {
  position: relative;
  max-width: 498px;
  max-height: 610px;

  width: 100%;
  height: 100%;
  padding: 0;

  border-radius: 16px;
}

.modal__close {
  background: url("src/images/close.png");
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  background-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal__caption {
  font-size: 20px;
  font-weight: 500;
}

.modal__weather {
  font-size: 20px;
}
.modal__footer {
  padding: 0 32px;
}

.modal__delete {
  border: none;
  color: #ff4d00;
  background-color: transparent;
  font-size: 20px;
  position: absolute;
  left: 350px;
  bottom: 60px;
}
