.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 171px 42px 24px 40px;
}

.footer__copyright {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
