.modal__button-container {
}

.modal__login {
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  padding: 0;
  width: 80px;
  height: 40px;
  margin: 5px 0 0;
}
