.clothes__section-btn {
  opacity: 0.6;
  border: none;
  line-height: 24px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
}

.clothes__section-item {
  font-size: 20px;
  line-height: 24px;
}

.clothes__section-title {
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
}

.card__list {
  flex: wrap;
  display: flex;
  gap: 20px;
  padding: 0;
}
