.modal__register {
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  width: 80px;
  height: 40px;
  padding: 0;
  margin-left: 130px;
  margin-top: 23px;
}
