.modal__register {
  background-color: transparent;
  border-radius: none;
  border: none;
  font-size: 16px;
  line-height: 1.25;
}

.modal__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
